<h1><%= @article.title %></h1>

<div class="article">
  <%= render @article %>
</div>

<h3>Comments (<%= @comments.count %>)</h3>
<div class="comment">
  <%= render @comments %>
</div>

<div class="comment-form">
  <%= render "comments/form" %>
</div>
